# Test Functions in src

## 1) Imports

In [2]:
import sys
import os
import pandas as pd

# Add the src folder to the path
sys.path.append(os.path.abspath("../src"))

from data_transformation import get_partition_limits, split_dataframe_by_quantiles, split_dataframe_by_values

## 2) Test Functions

In [ ]:
file_path = "your_file_path_here.csv"  # Replace with your actual file path
df = pd.read_csv(file_path)
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

**get_partition_limits**

In [4]:
get_partition_limits(df, 'Age', 3)

array([33., 41.])

In [5]:
get_partition_limits(df, 'EstimatedSalary', 3)

array([52000., 80000.])

In [6]:
get_partition_limits(df, 'Gender', 3)

TypeError: Column 'Gender' must be numeric.

**split_dataframe_by_quantiles**

In [7]:
age_quantiles = get_partition_limits(df, 'Age', 3)

df1, df2, df3 = split_dataframe_by_quantiles(df, 'Age', age_quantiles)

print("Dataframes: ")
print("df:", df.shape)
print("df1:", df1.shape)
print("df2:", df2.shape)
print("df3:", df3.shape)

Dataframes:
df: (400, 5)
df1: (140, 5)
df2: (129, 5)
df3: (131, 5)

**split_dataframe_by_values**

In [8]:
df1, df2 = split_dataframe_by_values(df, 'Gender')
print("Dataframes: ")
print("df:", df.shape)
print("df1:", df1.shape)
print("df2:", df2.shape)

Dataframes:
df: (400, 5)
df1: (196, 5)
df2: (204, 5)

In [9]:
df1.head()

    User ID Gender  Age  EstimatedSalary  Purchased
0  15624510   Male   19            19000          0
1  15810944   Male   35            20000          0
4  15804002   Male   19            76000          0
5  15728773   Male   27            58000          0
8  15600575   Male   25            33000          0

In [10]:
split_dataframe_by_values(df, "Age")

TypeError: Column 'Age' must be of string type.